* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(212, 197, 174);
}

button {
    color: rgb(235, 232, 224);
    text-shadow: 1px 1px 1px rgb(29, 30, 31);
    font-size: 1.4rem;
    background-color: rgb(34, 179, 179);
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 3px darkblue; 
    padding: 10px 40px;
    
}

button:hover  {
    font-size: 1.5rem;
    background-color: rgb(40, 207, 207); ;
}

.btn-container {
    margin: 10px auto 0;
    border-radius: 10px;
    width: 80%;
    height: 100px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 960px;
    min-width: 300px;
}